<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>State Yearly Temperatures</title>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/foundation.css" />
</head>
<body id="temp_template_body">
	<div class="top-bar">
		<div class="top-bar-left">
		  <ul class="dropdown menu" data-dropdown-menu>
			<li class="menu_text">
				<a href="../../index.html" style="color: black; font-weight: bold;">State Temperatures</a>
			</li>
			<li>
			  <a href="../../index.html">Home</a>
			</li>
			<li><a href="/fips.html">States</a></li>
			<li><a href="/years.html">Years</a></li>
			<li><b><a href="/temp.html">Temps</a></b></li>
		  </ul>
		</div>
	  </div>
	<h1>Years and States with Average Temperatures Between $$TEMP1$$°F and $$TEMP2$$°F
    </h1>
	<div class="grid-x grid-margin-x">
		<div class="small-12 large-1" id="prev-button"  style="margin-left: 2%;">
			<div class="hide-for-small-only">
				<button class="hollow button" id="prev_min">Previous Min Temp</button>
				<button class="hollow button" id="next_min">Next Min Temp </button>
			</div>
		</div>
		<div class="small-12 large-10" style="margin: 0.5%;">
			<div class="show-for-small-only" style="margin-left: 10%;">
				<div>
					<button class="hollow button" id="prev_min_small">Previous Min Temp</button>
					<button class="hollow button" id="next_min_small">Next Min Temp </button>
				</div>
				<div>
					<button class="hollow button" id="prev_max_small">Previous Max Temp</button>
					<button class="hollow button" id="next_max_small">Next Max Temp</button>
				</div>
			</div>
			<table>
				<thead>
					<tr>
						<th>
							Year
						</th>
						<th>
							State
						</th>
					</tr>
				</thead>
				<tbody>
					$$TABLE_BODY$$
				</tbody>
			</table>
		</div>
		<div class="small-12 large-1" id="next-button">
			<div class="hide-for-small-only">
				<button class="hollow button" id="prev_max">Previous Max Temp</button>
				<button class="hollow button" id="next_max">Next Max Temp</button>
			</div>
		</div>
	</div>
	<script src="../../js/vendor/temp_next_prev.js"></script>
</body>
</html>