<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>State Yearly Temperatures</title>
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/foundation.css" />
</head>
<body style="background-color: aliceblue;">
	<div class="top-bar">
		<div class="top-bar-left">
		  <ul class="dropdown menu" data-dropdown-menu>
			<li class="menu_text">
				<a href="../index.html" style="color: black; font-weight: bold;">State Temperatures</a>
			</li>
			<li>
			  <a href="../../index.html">Home</a>
			</li>
			<li><a href="/fips.html">States</a></li>
			<li><a href="/years.html">Years</a></li>
			<li><a href="">Temps</a></li>
		  </ul>
		</div>
	  </div>
	<h1>Average State Temperatures In $$YEAR$$</h1>
	<table>
		<thead>
			<tr>
				<th>
					State
				</th>
				<th>
					Avg. Temp. F
				</th>
				<th>
					Avg. Temp. C
				</th>
			</tr>
		</thead>
		<tbody>
			$$TABLE_BODY$$
		</tbody>
	</table>
</body>
</html>
